body {
    background: lightgrey;
}

.container {
    background: white;
    padding-bottom: 20px;
}

.navformmargin-right {
    margin-right: 2px;
}
.navformmargin-left {
    margin-left: 2px;
}

.bigLogo {
    background: blue;
    height: 400px; /* sets height of DIV */
    line-height: 400px; /* sets line-height of TEXT */
    text-align:center;
    color:white;
    font-size:75px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    /* make text UNSELECTABLE */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.votes {
    color: blue;
    
}

.card-container { /* FRONT PAGE container for categories */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(229, 233, 238);
    padding-top: 20px;
    padding-bottom: 0px;
}

.contestant-container { /* change to flex or none for pixel width*/
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgb(54, 54, 54);
    padding-top: 20px;
    padding-bottom: 0px;
    margin-top: 20px;
}

.category-card { /* individual card container */
    width: 250px;
    text-align: center;
    color: blue;
    border:1px solid blue;
    margin-bottom:20px;
    object-fit: cover;
    overflow: hidden;
}

.category-img {
    /* OLD Settings */
    width: 250px;
    height: 250px;    
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

.card-name {
    background:blue;
    color:white;
}

.card-name > a {
    color:white;
}

.card-votes {
    background:blue;
    color:white;
}

.vote-button {
    background: red;
    color: white;
}

.vote-button > a {
    color:white;
}

.vote-button:hover {
    background: rgb(255, 81, 0);
    color: white;
}

.vote-button:focus {
    background: rgb(255, 166, 0);
    color: white;
}

.vote-button:active {
    background: rgb(255, 166, 0);
    color: white;
}

.which-category {
    font-size: x-large;
}

.this-category {
    font-size: x-large;
    color: blue;
    font-weight: bold;
}

.this-category-h1 {
    color: blue;
    /* font-weight: bold; */
}

.category-img-master {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border: 1px solid blue;
}


.category-info {
    height: 15vh;
    margin-top:1rem
}

.horizontal-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    height: 260px;
    margin-bottom: 40px;
}

#number1 {
    margin-right: 20px;
}

.content-container {
    background: rgb(229, 233, 238);
    padding: 20px;
}

.chill-h1 {
    margin-bottom: 0;
}

.special-submit > input[type=submit] {
    border: none;            
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.special-delete {
    display:inline;
}

.special-delete > input[type=submit] {
border: none;
padding-right: 0.5rem;
padding-left: 0.5rem;
color: rgb(0, 123, 255);
cursor: pointer;
text-decoration: none;
background-color: transparent;
}


.special-vote {
    display:inline;
}

.special-vote > input[type=submit] {
border: none;
padding-right: 0.5rem;
padding-left: 0.5rem;
color: white;
cursor: pointer;
text-decoration: none;
background-color: transparent;
width:100%;
}

input[type=text], input[type=number], input[type=password] {
    border-radius: 4px;
    background-color: #343a40;
    color: white;
    padding-left: 4px;
    border: 2px solid rgba(60, 173, 188, 0.26);
}

input[type=text]:hover, input[type=number]:hover, input[type=password]:hover {
    border-radius: 4px;
    background-color:  #091f49;
    color: white;
    padding-left: 4px;
    border: 2px solid rgb(60, 173, 188);
}

.special-submit > input[type=submit]:hover {
    border: none;            
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: rgba(255, 255, 255, 0.692);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

input[type=text]:focus, input[type=number]:focus, input[type=password]:focus {
    border-radius: 4px;
    background-color: black;
    color: white;
    padding-left: 4px;
    border: 2px solid rgb(60, 173, 188);
}

input[type=text]:active, input[type=number]:active, input[type=password]:active {
    border-radius: 4px;
    background-color: #1100ff;
    color: white;
    padding-left: 4px;
    border: 2px solid rgb(60, 173, 188);
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: lightslategrey;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: lightslategrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: lightslategrey;
}

@media (min-width: 1200px) {
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1199px;
}
}

@media (max-width: 992px) {
input[type=text], input[type=password] {
    width:125px;
}
}

@media (max-width: 767px) {
    .bigLogo {
        display:none;
    }

    .horizontal-container {
        display: flex;
        height:auto;
        flex-wrap: wrap;
        flex-direction: column;
        flex-flow: column;
        /* justify-content: space-between; */
        margin-bottom: 40px;
    }

    .category-info {
        height: auto;
        margin-top: 0;
    }

    input.navformmargin-left {
        display:block;
        margin-left: 0px;
    }
    
    input.navformmargin-right {
        display:block;
        margin-right: 0px;
    }

    .form-inline {
        display:block;
    }

    .special-submit > input[type=submit] {
        padding-left:0rem;
    }

}