<!DOCTYPE html>
<html>
    <head>
            <title>PPLpleaser</title>
            <!-- BOOTSTRAP -->
            <link href="/css/bootstrap.css" rel="stylesheet">
            <!-- PERSONAL STYLES -->
            <link href="/css/jakes-styles.css" rel="stylesheet">
    </head>
    <body>
        

               
        <h1>SIGN IN</h1>
        <form action="/sessions" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Log In" />
        </form>


    </body>
</html>